@use "./../../assets/colors.scss";

.persona-info {
  .subtitle {
    font-size: 1rem;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    transition-delay: 2s;
  }

  .title {
    font-size: 20px;
    color: colors.$primary-col;
    text-align: center;
  }
}

.card-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;

  h3 {
    margin: 0px;
    margin-left: 10px;
    font-size: 18px;
  }
}

.card-detail {
  padding: 0;
  margin: 0 50px;
  margin-left: 60px;
  margin-bottom: 30px;
  font-family: 'Roboto Light';
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 22px;
}
