.persona-info {
  color: rgb(206, 206, 9);
  margin: 50px 50px;
  animation: ease-in;

  @keyframes square {
    from {
      background-color: red;
    }
    to {
      background-color: blue;
    }
  }

  .quote {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 50px;
    transition-delay: 2s;
  }

  .intro-info {
    display: flex;
    flex-direction: row;
    margin-left: 0px;

    h2 {
      margin: 0px;
    }
  }

  span {
    background-color: rgb(206, 206, 9);
    color: #000000;
    text-align: center;
    font-size: 10px;
    padding: 10px;
    width: 20%;
    height: 10%;
  }
}
