.filters {
  display: flex;
  flex-direction: column;

  button {
    background-color: #000000;
    font-family: 'Roboto', sans-serif;
    color: green;
    //padding: 5px 50px;
    border-radius: 5px;
    text-align: center;
    width: 20px;
  }

  span {
    text-align: center;
    border: none !important;
  }
}
