.about {
  margin: 0px;
  padding: 0px;
}

.about-content {
  display: flex;
  flex-direction: column;
  padding: 0px 40px;

  h3 {
    margin-bottom: 0px;
  }

  h4 {
    margin-bottom: 0;
  }

  p {
    margin-top: 3px;
    margin-bottom: 20px;
    padding-top: 0px;
  }
}

.navbar {
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;

  h2 {
    padding-left: 10px;
  }
}

.contributors {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.contributor {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  margin-right: 5%;

  img {
    width: 80px;
  }

  p {
    width: 80px;
    font-size: 12px;
    font-style: italic;
  }
}
