@import 'react-alice-carousel/lib/scss/alice-carousel.scss';

.categories-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  button {
    padding: 20px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    width: 80px;
    height: 80px;
    font-size: 0.8rem;
    border-radius: 50%;
  }
}
