@use "./../../assets/colors.scss";

.header {
  font-family: 'Roboto';
  font-weight: bold;
  margin: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: colors.$primary-col;
}
