$primary-col: #eb5d3a;
$primary-background: #000000;
$primary-text: #ffffff;
$primary-overlay-col: rgba(0, 0, 0, 0.3);
$secondary-overlay-col: rgba(248, 248, 248, 0.82);
$tertiary-overlay-col: #ebebec;
$gradient-background: linear-gradient(0.25turn, #eb5b38, #eb6d46, #e78b52);
