$yellow-primary: rgb(206, 206, 9);

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

.App {
  margin: 0 auto;
  text-align: left;
}

body {
  font-family: 'Graphik', sans-serif;
  background: #000000;
  color: $yellow-primary;
}

@media (min-width: 600px) {
  body {
    background: #242423;
  }
}
