/* 
grey: cfdbd5
light gray: e8eddf
yellow: f5cb5c
dark dark: 242423
dark: 333533 
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

.App {
  text-align: left;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #333533;
  color: #f5cb5c;
}

@media (min-width: 600px) {
  body {
    background: #242423;
  }
}