.tool-info {
  margin: 20px;
  color: #e6004c;

  span {
    background-color: #e6004c;
    color: #000000;
    text-align: center;
    font-size: 10px;
    padding: 10px;
    width: 20%;
    height: 10%;
  }
}
